<div class="container-home" *ngIf="currentUser">
  <div class="top-menu">
    <nav class="nav">
      <div class="nav-title">
        Hello <span>NOME</span>
      </div>

      <div class="addQuiz">
        <button (click)="addQuiz()">Add Quiz</button>
      </div>
      
    </nav>
  </div>

  <section>
    <div class="container-cards">
      <ng-container *ngIf="quizzes?.length; else loadingTemplate">
        <div class="card" *ngFor="let question of quizzes">
          <div class="card-top">
            <div class="card-name">
              <h2>{{question.title}}</h2>
            </div>
            <div class="level">
              <span>{{question.level }}</span>
            </div>
          </div>
          <div class="card-description">
            <p>{{question.description}}</p>
          </div>
          <div class="card-footer">
            <div class="card-type" >
              <p>{{question.options}}</p>
            </div>
            <div class="card-reward">
              <p>Reward: {{question.rewardXp}}</p>
            </div>
          </div>
          <div class="card-actions">
            <a class="btn-actions delete" (click)="deleteQuiz()">Delete</a>
            <a class="btn-actions update">Update</a>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
</div>

<ng-template #loadingTemplate>
  <span>Carregando</span>
</ng-template>

