.container-home{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  background: rgba(213, 206, 233, 100);
}

.top-menu{
  width: 100vw;
  height: 20vh;
}

.nav{
  height: 80px;
  background: rgba(166, 105, 227, 100);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-title{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.nav-title span{
  font-weight: 700;
}

.addQuiz button{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 16px;

  width: 175px;
  height: 45px;
  padding: 6px 35px;
  border-radius: 5px;
  outline: none;
  border: none;

  background: rgba(231, 145, 24, 100);
  color: white;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container-cards{
  display: flex;
  width: 1200px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card{
  margin: 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;

  padding: 20px;
}

.card-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card-actions{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  margin-top: 20px;
}

.btn-actions{
  cursor: pointer;
  color: #ffffff;

  width: 100px;
  height: 40px;

  border-radius: 3px;
  outline: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

}

.delete{
  background: rgba(231, 44, 31, 100);
}

.update{
  background: #6ed2f9;
}


