.container-login{
  width: 100vw;
  height: 100vh;

  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(141,29,253,1) 50%, rgba(252,176,69,1) 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}


.card-login{
  width: 20vw;
  height: 50vh;

  border-radius: 2vh;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(255,255,255);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.title-login{
  display: flex;
  justify-content: start;

  margin-bottom: 60px;

  font-family: 'Roboto', sans-serif;
  font-size: 700;
}


.username{
  font-weight: bold;
   width: 80%;
   margin: 0 35px 20px ;
   height: 45px;
   padding: 6px 15px;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-size: 14px;
}

.btn{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  width: 80%;
  margin: 0 35px 20px ;
  height: 45px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #6ed2f9;
  color: white;
  font-size: 16px;
}

.alert{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;

  color: red;
}
