<div class="container-login">
  <div class="card-login">
    <div class="title-login">
      <h2>Welcome</h2>
    </div>

    <form #f="ngForm" class="form-login" *ngIf="!isLoggedIn" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
      <input  name="email" type="text" placeholder="Email" class="username" [(ngModel)]="form.email" #email="ngModel">
  
      <input  name="password" type="password" placeholder="Password" class="username" [(ngModel)]="form.password" #password="ngModel">
  
      <button class="btn">Sign Up</button>

      <div class="alert"
        *ngIf="f.submitted && isLoginFailed"
      >
        <p>{{ errorMessage }} </p>
      </div>
    </form>
  </div>
</div>
