<div class="container-login">
  <div class="card-login">
    <div class="title-login">
      <h2>Add question</h2>
    </div>

    <form  class="form-login"  novalidate>
      <input  
        name="title" 
        type="text" 
        placeholder="Title" 
        class="quiz" 
        required
        
      >
      <input  
        name="description" 
        type="text" 
        placeholder="Description" 
        class="quiz" 
        required
      >
      <select  
        class="quiz" 
        required
      >
        <option value="EASY">Easy</option>
        <option value="MEDIUM">Medium</option>
        <option value="HARD">Hard</option>
      </select>

      <input  
        name="rewardXp" 
        type="number" 
        placeholder="XP" 
        class="quiz" 
        required
      >

      <div class="form-options">
        <div class="option-title">
          <h3>Options</h3>
          <a class="btn-new" (click)="addOption()"> Add new Option</a>
        </div>
        <div >
          <input type="text" name="label" formControlName="option" placeholder="Option" class="quiz">
          <div class="radio-inputs" formControlName="correct">
            <input type="radio" id="isTrue" name="isTrue" value="true">
            <label for="true">True</label><br>
            <input type="radio" class="btn-radio-false" id="isFalse" name="isTrue" value="false">
            <label for="false">False</label><br>
          </div>
        </div>
      </div>

  
      <button class="btn" (click)="saveQuiz()">Add Question</button>

    </form>
  </div>
</div>
