.container-login{
  width: 100vw;
  height: 100vh;

  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(141,29,253,1) 50%, rgba(252,176,69,1) 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}


.card-login{
  width: 40vw;
  height: 80vh;

  padding: 10px 35px;
  border-radius: 2vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(255,255,255);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.title-login{
  display: flex;
  justify-content: start;

  margin-bottom: 60px;

  font-family: 'Roboto', sans-serif;
  font-size: 700;
}

.quiz{
  font-weight: bold;
   width: 100%;
   margin: 0 0px 20px ;
   height: 45px;
   padding: 0.6rem 1.5rem;
   border-radius: 5px;
   outline: none;
   border: none;
   background: #F6F7F9;
   color: #748194;
   font-size: 14px;
}

.option-title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 2rem 0rem;
}

.radio-inputs{
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-size: 700;

  margin: 0 0px 30px ;
}

.btn-radio-false{
  margin-left: 20px;
}

.btn-new{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  
  background: rgba(166, 105, 227, 100);
  color: white;

  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.btn{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  width: 100%;
  margin: 0 0px 20px ;
  height: 45px;
  padding: 6px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #6ed2f9;
  color: white;
  font-size: 16px;
}